* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #0572ef;
  --light-blur: #19afff;
  --box-shadow-color: #00000033;
  --light-color: #e5e6eb;
  --gray-color: #66676b;
  --white-color: #ffffff;
  --black-color: #09090a;
  --red-color: #de3f4f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f2f4f7;
  color: var(--black-color);
  font-size: clamp(15px, 2vw, 16px);
  line-height: 1.4 !important;
  letter-spacing: 0.1px;
  width: 100% !important;
}

.custom-btn {
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.bg-hover-light {
  transition: 100ms ease-in-out;
}
.bg-hover-light:hover {
  background-color: var(--light-color);
  border-radius: 8px;
}

.bg-hover-light.active {
  background-color: var(--light-color);
  border-radius: 8px;
}

.custom-border-radius {
  border-radius: 8px;
}
.custom-box-shadow {
  box-shadow: 0px 1px 2px 0px var(--box-shadow-color);
}
.sticky-top-custom {
  position: sticky;
  top: 0;
}
.main-container {
  max-width: 1260px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

@media (max-width: 1259px) {
  .main-container {
    max-width: 1260px !important;
    margin: 0 auto !important;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* navbar */

.header-navbar {
  height: 61px;
  box-shadow: 0px 1px 2px 0px var(--box-shadow-color);
  z-index: 500;
}

.header-navbar .logo-box {
  width: 40px;
  height: 39.78px;
  border-radius: 50%;
}

.header-navbar .custom-z-index {
  z-index: 1050;
}

.header-navbar .img-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 30%;
  left: 10px;
}

.header-navbar .middle-col {
  margin-right: 40px;
}

.header-navbar .middle-col i {
  color: var(--gray-color);
  font-size: 24px;
}

.right-navbar-gap {
  gap: 11.9px;
}

.notification-float-box {
  width: 20px;
  top: 4px;
  right: -16px;
  height: 20px;
  background-color: var(--red-color) ;
  font-size: 12px;
}

.right-navbar-li {
  width: 40px;
  height: 40px;
  background-color: var(--light-color);
}

.img-box-li {
  height: 40.9px;
  width: 40.9px;
}

.notification-dropdown-width {
  width: 300px;
  padding: 0;
  right: -104px;
  overflow: hidden;
}
.dropdown-icon {
  width: 15px;
  height: 15px;
}
.navbar-ui-width {
  min-width: 150px;
}
/* navbar */

.banner-container {
  max-width: 1260px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.container-main {
  max-width: 1200px !important;
  margin: 0 auto !important;
  width: 100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.profile-list {
  display: flex;
  gap: -10px;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  position: relative;
}

.profile-img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

/* design for emoji */
.reaction-container {
  cursor: pointer;
}

.emoji-box {
  bottom: 110%; /* Show above the button */
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 16px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  gap: 6px;
  left: 0;
}

.emoji img {
  height: 24px;
  transition: all 500ms ease-in-out;
}

.emoji:hover {
  transform: scale(1.4);
}

.reaction-container:hover .emoji-box {
  opacity: 1;
  visibility: visible;
}

/* for smooth animation */
.emoji:nth-child(1) {
  transition-delay: 0.05s;
}
.emoji:nth-child(2) {
  transition-delay: 0.1s;
}
.emoji:nth-child(3) {
  transition-delay: 0.15s;
}
.emoji:nth-child(4) {
  transition-delay: 0.2s;
}
.emoji:nth-child(5) {
  transition-delay: 0.25s;
}
.emoji:nth-child(6) {
  transition-delay: 0.3s;
}
.emoji:nth-child(7) {
  transition-delay: 0.35s;
}

/* design for emoji */

/* search page */
.container-custom {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

/* search page */

/* market place  */
/* @media (min-width: 1060px){
  .left-nav-width{
    width: 300px
  }
}
@media (min-width: 1060px){
  .left-nav-width{
    width: 300px
  }
} */
/* market place  */
